[core]
	excludesfile = ~/.gitexcludes
	editor = /usr/bin/vim
[user]
	name = kbaribeau
	email = kevin.baribeau@gmail.com
[alias]
	praise = blame
	ci = commit
	lg = log --date=local --stat
	st = status -s
[color]
	ui = auto
[branch]
	autosetuprebase = always
[github]
	user = kbaribeau
