[core]
	excludesfile = ~/.gitexcludes
	editor = /usr/bin/vim
	quotepath = false
[user]
	name = kbaribeau
	email = kevin.baribeau@gmail.com
[alias]
	ci = commit
	lg = log --date=relative --stat --graph
	praise = blame
	st = status -s
  aa = add --all
  ca = commit --amend
  co = checkout
  cp = cherry-pick
  dc = diff --cached
  di = diff
  head = !git lg -1
  pom = push origin master
  pr = pull --rebase
  rc = rebase --continue
  ri = rebase --interactive
  rp = remote prune

  clown = clone
  stache = stash

  fixup = commit --fixup
[color]
	ui = auto
[branch]
	autosetuprebase = always
[github]
	user = kbaribeau
[rerere]
	enabled = 1
[rebase]
	autosquash = true
