[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	quotepath = false
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Kevin Baribeau
	email = kevin.baribeau@gmail.com
[alias]
	ci = commit -v
	lg = log --date=relative --stat --graph
	praise = blame
	st = status -s
	aa = add --all
	ca = commit --amend -v
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	di = diff
	head = !git lg -1
	pom = push origin master
	pr = pull --rebase
	rc = rebase --continue
	ri = rebase --interactive
	rp = remote prune

	fixup = commit --fixup

;jokes :)
	clown = clone
	stache = stash

; from @bostonaholic
	iteration = log --pretty='tformat:%h (%ar) -- %d %s' --since='2 weeks ago' --author='baribeau'

[color]
	ui = auto
[branch]
	autosetuprebase = always
[github]
	user = kbaribeau
[rerere]
	enabled = 1
[rebase]
	autosquash = true
[git-pair]
	authors = Zee Spencer <zee@zeespencer.com>
	authors = Kevin Baribeau <kevin.baribeau@gmail.com>
	authors = Elisabeth Hendrickson <esh@qualitytree.com>
[push]
	default = current
[include]
	path = ~/.gitconfig.local
[credential]
	helper = osxkeychain
[status]
	relativePaths = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[diff]
	renames = true
