[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	quotepath = false
	autocrlf = input
[user]
	name = Kevin Baribeau
	email = kevin.baribeau@gmail.com
[alias]
	ci = commit -v
	lg = log --date=relative --stat --graph
	st = status -s
	aa = add --all
	ca = commit --amend -v
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	di = diff
	pushf = push --force-with-lease
	pr = pull --rebase
	rc = rebase --continue
	ri = rebase --interactive

	fixup = commit --fixup

;jokes :)
	praise = blame
	clown = clone
	stache = stash

; from @bostonaholic
	iteration = log --pretty='tformat:%h (%ar) -- %d %s' --since='2 weeks ago' --author='baribeau'

[color]
	ui = auto
[branch]
	autosetuprebase = always
[github]
	user = kbaribeau
[rerere]
	enabled = 1
[rebase]
	autosquash = true
	autoStash = true
[git-pair]
	authors = Zee Spencer <zee@zeespencer.com>
	authors = Kevin Baribeau <kevin.baribeau@gmail.com>
	authors = Elisabeth Hendrickson <esh@qualitytree.com>
[push]
	default = current
	followTags = true
[include]
	path = ~/.gitconfig.local
[credential]
	helper = osxkeychain
[status]
	relativePaths = false
;; This screws up cargo/rust
;; [url "ssh://git@github.com/"]
;; 	insteadOf = https://github.com/
[diff]
	renames = true
[pull]
	rebase = preserve
[merge]
	defaultToUpstream = true
